body {
  margin: 0 auto;
  width: 1280px;

  font-family: Cuprum, Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 320px;

  background-color: #f3f7f9;
}
.top-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
  width: 1200px;
  min-height: 42px;
  background-color: #293449;
}
.top-menu-item {
  width: 150px;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  background-color: #293449;
}
.top-menu-item:hover {
  background-color: #212a3a;
}
.top-menu-item:focus {
  background-color: #161d29;
}
.main-logo {
  width: 220px;
  background-color: #ee3643;
}
.main-logo:hover {
  background-color: #ca2c37;
}
.main-logo:focus {
  background-color: #ba2732;
}
.search {
  width: 270px;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
  border: none;
}
.search:focus {
  color: #000000;
  background-color: #ffffff;
}
a.order-button {
  color: #ffffff;

  background-color: #63a63e;
}
a.order-button:hover {
  background-color: #5fbb2d;
}
a.order-button:focus{
  background-color: #518534;
}
.middlenav-wrap {
  display: flex;
  margin-bottom: 34px;
  width: 940px;
  min-height: 68px;
}
.site-header {
  margin: 0;
  padding: 5px 52px;
  width: 220px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;

  color: #ee3643;
}
.contacts {
  width: 270px;

}
.phone-number {
  display: block;
  margin: 0;
  padding: 0;
  width: 264px;
  min-height: 39px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.nav-address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}
.login-menu {
  list-style: none;
}
.login-menu a {
  display: block;
  width:
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.login-menu a:hover {
  color: #ee3643;
}
.login-menu a:focus {
  color: #c5c5c5;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 25px;
  width: 890px;
  min-height: 60px;
  list-style: none;

  background-color: #293449;
}
.navigation-item {
  display: block;
  vertical-align: middle;
  margin: 0;
  padding: 20px 30px;
  width: auto;
  min-height: 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

  color: #ffffff;
  background-color: #293449;
}
.navigation-item:hover {
  background-color: #1d2639;
}
.navigation-item:focus {
  background-color: #1d2639;
  opacity: 0.5;
}
/* main*/
.main-page {
  margin: 0 auto;
  width: 1200px;
}
.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 54px;
  width: 940px;
  min-height: 304px;
}
.promo-option {
  margin-bottom: 20px;
  width: 300px;
  min-height: 123px;
  }
.materials {
  background-color: #ffbf47;
}
.instrument {
  background-color: #3bbce3;
}
.technics {
  background-color: #dc91d8;
}
.discount {
  background-color: #8ed78f;
}
.delivery {
  margin-bottom: 0;
  background-color: #ffbf47;
}
.promo-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: #ffffff;
}
.promo-button {
  width: 135px;
  min-height: 38px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #00000020;
}
.promo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;
}
.slider {
  width: 620px;
  min-height: 266px;

  color: #ffffff;
  background-color: #685b52
}
.slider-1 {
  background-image: url("../img/drill.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-2 {
  display: none;
  background-image: url("../img/perforator.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.slider-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.red-button {
  min-height: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}
.red-button:hover,
.red-button:focus {
  background-color: #ca2b36;
}
a.red-button {
  display: inline-block;
}
.popular-items {
  margin: 0 auto;
  width: 940px;
  min-height: 438px;
}
.popular-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
}
.popular-header {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 338px;
  list-style: none;
}
.catalog-list li {
  margin-bottom: 20px;
  width: 220px;
  min-height: 316px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.catalog-item-header {
  margin: 0;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.old-price {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}
.new-price {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}
.item-buttons {
  display: none;
}
.add-to-cart {
  width: 135px;
  min-height: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.add-to-cart:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
}
.add-to-cart:focus{
  background-color: #518534;
  border: 3px solid #518534;
}
.add-to-bookmarks {
  width: 135px;
  min-height: 38px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.add-to-bookmarks:hover {
border: 3px solid #32425c;
}
.add-to-bookmarks:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.popular-brands {
  width: 940px;
  margin: 0 auto;
}
.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 330px;
  list-style: none;
}
.popular-brands li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 218px;
  height: 143px;

  border: 1px solid #eaeaea;
}
.service {
  padding: 0 130px;
  width: 940px;
  min-height: 522px;
  background-color: #f4f8f9;
}
.service-header {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.service-text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-item {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  color: #ffffff;
  background-color: #32425c;
  border: none;
}
.service-item-current {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  color: #32425c;
  background-color: #ffffff;
  border: none;
}
.service-name {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;

  color: #32425c;

}
.service-info {
  font-size: 13px;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.delivery-slide {
  background: url("../img/delivery.png") no-repeat;
}
.guarantee-slide {
  display: none;
  background: url("../img/guarantee.png") no-repeat;
}
.credit-slide {
  display: none;
  background: url("../img/credit.png") no-repeat;
}
.technomart-info {
  display: flex;
  margin: 0 130px;
  width: 940px;
  min-height: 534px;
}
.info-header,
.contacts-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.technomart-info p,
.contacts-header p {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.carrier-list {
  list-style: none;
}
.carrier-list li {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  color: #000000;
}
.feedback-modal {
  display: none;
}
.feedback-form label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
.feedback-form input {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  color: #a9a9a9;
}
.form-send {
  border: none;
}
/*шапка внутрянняя*/
.user-menu {
  list-style: none;
}
.user-name {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}
.orders, .account {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}
.orders:hover, .account:hover {
  color: #ee3643;
}
.user-menu a:focus {
  color: #c5c5c5;
}
/*страница каталога*/
.bread-crumbs {
  list-style: none;
}
.bread-crumbs li {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.bread-crumbs a {
  color: #000000;
}
.inner-page-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}
/*форма*/
.filters h2 {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  background-color: #f7f3ec;
}
.filters fieldset {
     border: none;
}
.filter-name {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.catalog-filters ul {
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  list-style: none;

  color: #000000;
}
.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.sort-menu {
  background-color: #f7f3ec;
}
.sort-list {
  list-style: none;
}
.sort-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}
.sort-item-current {
  color: #ee3643;
}
.pagination-list {
  list-style: none;
}
.pagination-item {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
.pagination-current {
  color: #ffffff;
  background-color: #ee3643;
}
.tools-info {
  color: #000000;
  background-color: #f2f6f8;
}
.tools-info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.tools-info p {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
/*инф. окно*/
.cart-info b {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
.cart-info-buttons {
  background-color: #f1f1f1;
}
.button-modal {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
}
.white-button {
  color: #000000;
  background-color: #ffffff;
}
/*футер*/
.main-footer {
  margin: 0 auto;
  width: 1200px;
  min-height: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #f1f5f7;
  background-color: #32425c;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
  width: 940px;
  min-height: 193px;
  background-color: #32425c;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
}
.footer-logo {
  margin: 0;
  padding: 0;
}
.footer-contacts {
  margin: 0;
  padding: 0;
}
.footer-contacts a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #f1f5f7;
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 600px;
  list-style: none;
}
.footer-nav-item {
  display: inline-block;
  margin-left: 55px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #f1f5f7;
  background-color: #32425c;
}
.nav-yellow {
  color: #ffd180;
}
.footer-nav-item:hover {
  text-decoration: underline;
}
.nav-yellow:focus {
  color: #ffd18010;
}
.footer-nav-item:focus {
  color: #f1f5f780;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  padding: 0 130px;
  width: 940px;
  min-height: 107px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}
.footer-social {
  list-style: none;
}
.feedback a,
.developer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffd180;
}
.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}
.feedback a:focus,
.developer a:focus {
color: #ee3643;
}
