body {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  font-family: Cuprum, Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  width: 1200px;
  margin: 0 auto;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 320px;

  background-color: #f3f7f9;
}
.top-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
  max-width: 1200px;
  width: 100%;
  min-height: 47px;
  background-color: #293449;
  box-shadow: inset 0 -5px 0 #f4f7f9;
}
.top-menu-item {
  padding: 11px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
  box-shadow: inset 0 -5px 0 #f4f7f9;
}
.top-menu-item:hover {
  background-color: #212a3a;
}
.top-menu-item:focus {
  background-color: #161d29;
}
.top-menu-item:hover::before {
  opacity: 1;
}
.main-logo {
  padding: 12px 55px;
  width: 110px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}
.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus {
  background-color: #ba2732;
}
.search {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  width: 220px;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-image: url("../img/icon-search-gray.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 17px;

  border: none;
}
.search::placeholder {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.search:focus{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icon-search-red.png")
}
.bookmarks {
  position: relative;
  padding-left: 44px;
  width: 106px;
}
.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg-technomart/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}
.cart {
  position: relative;
  padding-left: 50px;
  width: 100px;
}
.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}
.order-button {
  padding-left: 20px;
  padding-right: 20px;
  width: 110px;
  background-color: #63a63e;
}
.order-button:hover {
  background-color: #5fbb2d;
}
.order-button:focus{
  background-color: #518534;
  color: #ffffff70;
}
.middlenav-wrap {
  display: flex;
  margin-bottom: 31px;
  width: 940px;
  min-height: 81px;
}
.site-header {
  margin: 0;
  margin-right: 26px;
  padding: 2px 53px;
  width: 190px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;

  color: #ee3643;
}
.contacts {
  width: 270px;
}
.phone-number {
  position: relative;
  display: block;
  margin: 0;
  padding: 9px 10px;
  padding-left: 71px;
  width: 183px;
  min-height: 21px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.phone-number::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 20px;
  height: 20px;

  background-image: url("../img/svg-technomart/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.nav-address {
  margin: 0;
  padding: 2px 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}
.login-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 282px;
  list-style: none;
}
.login,
.registration {
  display: block;
  min-height: 25px;
  padding: 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.login-menu a:hover {
  color: #ee3643;
}
.login-menu a:focus {
  color: #c5c5c5;
}
.login {
  position: relative;
  padding-left: 28px;
  width: 80px;
}
.login::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/svg-technomart/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login:hover::before {
  background-image: url("../img/svg-technomart/icon-login-hover.svg");
}
.login:focus::before {
  background-image: url("../img/svg-technomart/icon-login.svg");
}
.registration {
  width: 130px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 22px;
  max-width: 896px;
  width: 100%;
  min-height: 60px;
  list-style: none;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}
.navigation-item {
  display: block;
  vertical-align: middle;
  margin: 0;
  padding: 20px 30px 17px;
  width: auto;
  min-height: 18px;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

  color: #ffffff;
  background-color: #32425c;

}
.navigation-item:hover {
  background-color: #293449;
}
.navigation-item:focus {
  background-color: #1d2739;
  box-shadow: inset 0 -5px 0 #1d2739;
  opacity: 0.5;
}
/* main*/
.main-page {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 59px;
}
.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 52px;
  max-width: 940px;
  width: 100%;
  min-height: 304px;
}
.promo-option {
  margin-bottom: 20px;
  padding: 22px;
  width: 256px;
  min-height: 79px;
  }
.new {
  position: relative;
}
.new::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-image: url("../img/svg-technomart/new-flag.svg");
  background-repeat: no-repeat;
}
.materials {
  background-color: #ffbf47;
  background-image: url("../img/svg-technomart/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 212px center;
}
.instrument {
  background-color: #3bbce3;
  background-image: url("../img/svg-technomart/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 198px center;
}
.technics {
  background-color: #dc91d8;
  background-image: url("../img/svg-technomart/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px center;
}
.discount {
  background-color: #8ed78f;
  background-image: url("../img/svg-technomart/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px center;
}
.delivery {
  margin-bottom: 0;
  background-color: #ffbf47;
  background-image: url("../img/svg-technomart/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px center;
}
.promo-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: #ffffff;
}
.promo-button {
  display: block;
  margin: 0;
  margin-left: 3px;
  padding: 10px;
  width: 115px;
  min-height: 18px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #00000020;
}
.promo-button:hover {
  background-color: #00000030;
}
.promo-button:active {
  background-color: #00000050;
}
.promo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;
}
.slider {
  display: flex;
  flex-direction: column;
  padding: 23px;
  max-width: 574px;
  width: 100%;
  min-height: 220px;

  color: #ffffff;
  background-color: #685b52
}
.slider-1 {
  background-image: url("../img/drill.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-2 {
  display: none;
  background-image: url("../img/perforator.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.slider-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.red-button {
  margin: 0;
  padding: 10px;
  min-height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}
.red-button:hover {
  background-color: #ca2b36;
}
.red-button:focus {
  background-color: #ba2732;
}
a.red-button {
  display: inline-block;
}
.slider-button {
  margin: 0;
  margin-top: auto;
  width: 175px;
}
.popular-items {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  min-height: 438px;
}
.popular-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 24px;
  max-width: 892px;
  width: 100%;
  min-height: 89px;
  background-color: #f9f5f0;
}
.popular-header {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.popular-button {
  width: 233px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 940px;
  width: 100%;
  min-height: 338px;
  list-style: none;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 21px;
  width: 220px;
  min-height: 295px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.main-catalog-list {
  margin-bottom: 32px;
  max-width: 700px;
  width: 100%;
  min-height: 990px;
}
.catalog-item:hover .item-image {
  display: none;
}
.catalog-item:hover .item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalog-item:hover {
  box-shadow: 0 10px 25px #afb3bb;
}
.catalog-item-header {
  margin: 0;

  padding: 10px 15px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.old-price {
  margin: 0;

  padding: 0;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}
.new-price {
  position: relative;
  margin: 0;
  margin-top: auto;
  padding: 10px;
  width: 120px;
  min-height: 16px;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}
.new-price::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -19px;
  background-color: #ffffff;
  border: 19px solid transparent;	border-left: 19px solid #ee3643;
}
.item-buttons {
  display: none;
  width: 218px;
  height: 170px;
}
.add-to-cart {
  position: relative;
  margin-bottom: 8px;
  width: 135px;
  min-height: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.add-to-cart::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.add-to-cart:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
}
.add-to-cart:focus{
  background-color: #518534;
  border: 3px solid #518534;
}
.add-to-bookmarks {
  width: 135px;
  min-height: 38px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.add-to-bookmarks:hover {
border: 3px solid #32425c;
}
.add-to-bookmarks:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.popular-brands {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 940px;
  width: 100%;
  min-height: 330px;
  list-style: none;
}
.popular-brand {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 218px;
  height: 143px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.popular-brand:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular-brand:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
.brand-item {
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service {
  margin-bottom: 76px;
  padding: 65px 130px 0;
  max-width: 940px;
  width: 100%;
  min-height: 333px;
  background-color: #f4f8f9;
}
.service-header {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.service-text {
  margin: 0;
  margin-bottom: 70px;
  padding: 2px;
  width: 396px;
  min-height: 45px;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.service-wrap {
  display: flex;
  min-height: 286px;
}
.service-list {
  position: relative;
  margin: 0;
  margin-right: 80px;
  padding: 0;
  width: 240px;
  min-height: 200px;
  list-style: none;
}
.service-list::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  top: -40px;
  right: 0;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;

}
.service-item {
  margin: 0;
  padding: 0 20px;
  width: 240px;
  min-height: 62px;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  color: #ffffff;
  background-color: #32425c;
  border: none;
}
.service-item:hover {
  color: #ffffff;
  background-color: #293449;
}
.service-item-current {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  color: #32425c;
  background-color: #ffffff;
  border: none;
}
.service-slide {
  max-width: 624px;
  width: 100%;
}
.service-name {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;

  color: #32425c;

}
.service-info {
  margin: 0;
  padding: 0;
  width: 275px;
  font-size: 13px;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.delivery-slide {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.guarantee-slide {
  display: none;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.credit-slide {
  display: none;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.technomart-info {
  display: flex;
  justify-content: space-between;
  margin: 0 130px;
  max-width: 940px;
  width: 100%;
  min-height: 458px;
}
.about-info {
  max-width: 520px;
  width: 100%;

}
.contacts-info {
  width: 300px;
}
.about-header,
.contacts-header {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.about-info p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.carrier-list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;
}
.carrier-list li {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  color: #000000;
}
.carrier-list li::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  width: 28px;
  height: 3px;
  background-color: #ee3643;
}
.about-button {
  width: 200px;
  text-align: center;
}
.contacts-text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  width: 180px;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: #000000;
}
.map {
  margin-bottom: 36px;
}
.contact-button {
  width: 280px;
}
.feedback-modal {
  display: none;
}
.feedback-form label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
.feedback-form input {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  color: #a9a9a9;
}
.form-send {
  border: none;
}
/*шапка внутрянняя*/
.cart-full {
  background-color: #ee3643;
}
.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 50px;
  padding: 0;
  width: 300px;
  list-style: none;
}
.user-name {
  display: block;
  margin: 0;
  padding: 12px 59px 12px 47px;
  width: 193px;
  min-height: 21px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}
.orders,
.account {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}
.orders:hover, .account:hover {
  color: #ee3643;
}
.user-menu a:focus {
  color: #c5c5c5;
}
/*страница каталога*/
.inner-page {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.bread-crumbs {
  display: flex;
  max-width: 940px;
  width: 100%;
  min-height: 20px;
  margin: 0;
  padding: 20px 130px;
  list-style: none;
}
.bread-crumbs li {
  position: relative;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.bread-crumbs a {

  color: #000000;
}
.bread-crumbs li:not(:last-child)::after {
  position: absolute;
  content:"";
  width: 6px;
  height: 6px;
  top: 5px;
  right: -23px;
  border-top: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  transform: rotate(45deg);
}

.bread-crumbs li:first-child {
  width:15px;
  height: 14px;
  background-image: url(../img/svg-technomart/icon-home.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.inner-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px;
  margin-bottom: 20px;
  padding: 0 24px;
  max-width: 892px;
  width: 100%;
  min-height: 89px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}
.inner-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
/*форма*/
.filters {
  width:220px;
  display: flex;
  flex-direction: column;
}
.filters h2 {
  margin: 0;
  margin-bottom: 21px;
  padding: 9px 18px;
  width: 184px;
  min-height: 20px;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  background-color: #f7f3ec;
}
.catalog-filter {
  display: flex;
  flex-direction: column;
}
.power-filter, .brand-filter, .range-filter {

     border: none;
}
.range-filter {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
.range-filter-wrap {
  width: 220px;
  min-height: 186px;
  border-bottom: 2px solid #e5e5e5;

}
.catalog-filters ul {
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  list-style: none;

  color: #000000;
}
.brand-filter {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 15px;
  padding: 0px;
  width:220px;
  min-height: 246px;
  border-bottom: 2px solid #e5e5e5;
}
.filter-name {
  margin-bottom: 15px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}
.brand-filter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  min-height: 178px;

}
.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.catalog {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}
.sort-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 17px;
  max-width: 666px;
  width: 100%;
  min-height: 38px;
  background-color: #f7f3ec;
}
.sort-list {
  display: flex;
  justify-content: space-between;
  width:354px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort-item {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  opacity: 0.3;
  border-bottom: dotted 1px #ee3643;
}
.sort-item:hover {
  opacity: 1;
  border-bottom: solid 1px #ee3643;
}
.sort-header {
  margin: 0;
  padding: 0;
  width: 176px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-item-current {
  color: #ee3643;
  opacity: 1;
}
.wrap-buttons {
  display: flex;
  justify-content: space-between;
  width: 45px;
}
.sort-button {
  opacity: 0.3;
}
.sort-button:hover {
  opacity: 1;
}
.sort-button-active {
  opacity: 1;
}
.sort-button-active path {
  fill: #ee3643;
}

.pagination-list {
  display: flex;
  min-height: 38px;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  list-style: none;
}
.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 37px;
  min-height: 37px;
  margin-right: 10px;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.next {
  width: 138px;
}
.pagination-current {
  color: #ffffff;
  background-color: #ee3643;
}
.pagination-item:hover {
  border: 1px solid #bdc6ca;
}
.pagination-item:focus {
  border: 1px solid #ee3643;
}
.tools-info {
  margin: 0 auto;
  padding: 63px 130px;
  max-width: 940px;
  width: 100%;
  min-height: 135px;
  color: #000000;
  background-color: #f2f6f8;
}
.tools-info h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.tools-info p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
/*инф. окно*/
.cart-info b {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
.cart-info-buttons {
  background-color: #f1f1f1;
}
.button-modal {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
}
.white-button {
  color: #000000;
  background-color: #ffffff;
}
/*футер*/
.main-footer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  min-height: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #f1f5f7;
  background-color: #32425c;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
  max-width: 940px;
  width: 100%;
  min-height: 193px;
  background-color: #32425c;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 330px;
}
.footer-logo {
  margin: 0;
  margin-bottom: 28px;
  padding: 20px 41px;
  width: 138px;
  height: 28px;
  text-align: center;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.footer-contacts {
  margin: 0;
  padding: 0;
}
.footer-contacts a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #f1f5f7;
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content:flex-start;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  max-width: 620px;
  width: 100%;
  list-style: none;
}
.footer-nav li {
margin-left: 60px;
margin-bottom: 32px;
  }
.footer-nav-item {
  margin: 0;
  padding: 0;
  display: inline-block;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #f1f5f7;
  background-color: #32425c;
}
.nav-yellow {
  color: #ffd180;
}
.footer-nav-item:hover {
  text-decoration: underline;
}
.nav-yellow:focus {
  color: #ffd18010;
}
.footer-nav-item:focus {
  color: #f1f5f780;
  text-decoration: none;
}
.footer-bottom {
  display: flex;

  padding: 35px 130px 0;
  max-width: 940px;
  width: 100%;
  min-height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}
.footer-copyright {
  margin: 0;
  padding: 0;
  width: 228px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  min-height: 45px;
  margin: 0;
  margin-left: 161px;
  margin-right: 120px;
  padding: 0;
  list-style: none;
}
.social-button {
  margin: 0;
  margin-bottom: 3px
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background-color: #212a3a;
}
.social-button-vk {
  background-image: url("../img/svg-technomart/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-fb {
  background-image: url("../img/svg-technomart/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-insta {
  background-image: url("../img/svg-technomart/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}
.bottom-wrap{
  display: flex;
  width: 300px;

}
.feedback,
.developer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.feedback {
  margin-right: 53px;
}
.feedback a,
.developer a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffd180;
}
.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}
.feedback a:focus,
.developer a:focus {
color: #ee3643;
}
